@font-face{
    font-family: 'NextSunday';
    src: url('../font/Next\ Sunday.ttf');
}

*{
    font-family: 'NextSunday', Arial, sans-serif;
}

:root{
    /* light mode colours */
    --bg: #f2eaf1;
    --one: #d4a5df;
    --two: #f1b78e;
    --three: #fbddd0;
    --four: #fffafdd2;
    --text: #947ccb;

    /* dark mode colours */
    --dark-bg: #2c2e33;
    --dark-one: #3d2b60;
    --dark-two: #e1b7a5;
    --dark-three: #f8e1d4;
    --dark-four: #4b3c55;
    --dark-text: #f5e0e2;
}

body{
    background-color: var(--bg);
    background-image: 
        linear-gradient(90deg, rgba(247,241,242,255) 1px, transparent 1px),
        linear-gradient(180deg, rgba(247,241,242,255) 1px, transparent 1px);
    background-size: 30px 30px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

body.dark{
    background-color: var(--dark-bg);
    background-image: 
        linear-gradient(90deg, #5b3f7ee4 1px, transparent 1px),
        linear-gradient(180deg, #5b3f7ee4 1px, transparent 1px);
    color: var(--dark-text);
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffafd9b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0);
    margin-bottom: 30px;
    padding: 10px 20px;
}

body.dark .header{
    background-color: #c5a5e1ad;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo{
    max-width: 250px;
    flex-shrink: 0;
}

.btnContainer{
    display: flex;
    gap: 5px; 
    margin-right: 10px;
}

.logoutBtn, .themeBtn{
    background: var(--one);
    color: var(--four);
    border: none;
    border-radius: 2em;
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    box-shadow: var(--two) 0 5px 0 0;
}

body.dark .logoutBtn, body.dark .themeBtn{
    background: var(--dark-two);
    color: var(--dark-four);
    box-shadow: #705aa3 0 5px 0 0;
}

.container{
    text-align: center;
    background-color: var(--four);
    padding: 20px; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    border: 4px dashed var(--three);
    margin-top: 20px;
}

body.dark .container{
    background-color: var(--dark-four);
    border-color: #705aa3d4;
}

h1{
    font-size: 1.47em;
}

.taskInput{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
    color: var(--text);
}

body.dark input{
    border-color: var(--dark-two);
    background-color: var(--dark-three);
    color: var(--dark-four);
}

button{
    cursor: pointer;
    transition: all .3s ease;
}

button:hover{
    background: var(--one);
    color: var(--text);
    box-shadow: var(--text) 0 5px 0 0;
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.leftBtns{
    display: flex;
    gap: 10px;
}

.filter button{
    height: 40px;
    padding: 0.5em;
    font-size: var(--body);
    border-radius: 20px;
    border: none;
    background: var(--one);
    color: var(--four);
    box-shadow: var(--two) 0 5px 0 0;
    margin: 0 5px;
    transition: all 0.3s ease;
}

body.dark .filter button{
    background: var(--dark-two);
    color: var(--dark-four);
    box-shadow: #705aa3 0 5px 0 0;
}

.filter button:hover{
    background: var(--two);
    color: var(--text);
    box-shadow: var(--text) 0 5px 0 0;
}

body.dark .filter button:hover{
    background: #705aa3;
    color: var(--dark-text);
    box-shadow: var(--dark-two) 0 5px 0 0;
}

.filter button:focus{
    transform: translate(0, 5px);
    box-shadow: none;
}

body.dark .filter button:focus{
    transform: translate(0, 5px);
    box-shadow: none;
}

.addTaskBtn, .completeBtn, .editBtn, .deleteBtn, .logoutBtn, .themeBtn{
    background: var(--one);
    color: var(--four);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
}

body.dark .addTaskBtn, body.dark .completeBtn, body.dark .editBtn, body.dark .deleteBtn, body.dark .logoutBtn, body.dark .themeBtn{
    background: var(--dark-two);
    color: var(--dark-four);
    box-shadow: #705aa3 0 5px 0 0;
}

.addTaskBtn:hover, .completeBtn:hover, .editBtn:hover, .deleteBtn:hover, .logoutBtn:hover, .themeBtn:hover{
    background: var(--two);
    color: var(--text);
    box-shadow: var(--text) 0 5px 0 0;
}

body.dark .addTaskBtn:hover, body.dark .completeBtn:hover, body.dark .editBtn:hover, body.dark .deleteBtn:hover, body.dark .logoutBtn:hover, body.dark .themeBtn:hover{
    background: #705aa3;
    color: var(--dark-text);
    box-shadow: var(--dark-two) 0 5px 0 0;
}

.addTaskBtn:focus, .completeBtn:focus, .editBtn:focus, .deleteBtn:focus, .logoutBtn:focus, .themeBtn:focus{
    transform: translate(0, 5px);
    box-shadow: none;
}

body.dark .addTaskBtn:focus, body.dark .completeBtn:focus, body.dark .editBtn:focus, body.dark .deleteBtn:focus, body.dark .logoutBtn:focus, body.dark .themeBtn:focus{
    transform: translate(0, 5px);
    box-shadow: none;
}

.taskList{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.card{
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    outline: none;
    border: 1px solid var(--one);
    background: var(--three);
    color: var(--text);
    border-radius: 1em;
    margin: 15px 0;
    box-shadow: var(--one) 0 5px 0 0;
    position: relative;
}

body.dark .card{
    background: var(--dark-bg);
    color: var(--dark-text);
    border-color: var(--dark-one);
    box-shadow: #705aa3 0 5px 0 0;
}

.taskContent{
    flex-grow: 1;
}

.taskActions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

#submitTaskBtn{
    background: var(--one);
    color: var(--four);
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

body.dark #submitTaskBtn{
    background: var(--dark-two);
    color: var(--dark-four);
    box-shadow: #705aa3 0 5px 0 0;
}

#submitTaskBtn:hover{
    background: var(--two);
    color: var(--text);
}

body.dark #submitTaskBtn:hover{
    background: #705aa3;
    color: var(--dark-text);
    box-shadow: var(--dark-two) 0 5px 0 0;
}

.completed{
    color: #49A078; 
    text-decoration: line-through; 
}

body.dark .completed{
    color: #80C6A1; 
    text-decoration: line-through; 
}

.completedCard{
    background: #EDEEC9; 
    color: #49A078; 
    border: 1px solid #53be8c;
    box-shadow: #72d0a4 0 5px 0 0;
}

body.dark .completedCard{
    background: #2A3D2A;
    color: #80C6A1;
    box-shadow: #5AB0A2 0 5px 0 0;
}

.completedCard .completeBtn, .completedCard .editBtn, .completedCard .deleteBtn{
    background-color: #53be8c;
    color: #F0EAD2;
    box-shadow: none;
}

body.dark .completedCard .completeBtn, body.dark .completedCard .editBtn, body.dark .completedCard .deleteBtn{
    background-color: #5AB0A2;
    color: #fee6dc;
    box-shadow: none;
}

#star{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

@media (max-width: 768px){
    .logo{
        max-width: 200px;
    }

    .container{
        width: 80%;
        max-width: 600px;
        padding: 15px;
    }

    .card{
        width: 85%;
        max-width: 350px;
        padding: 0.5em;
    }

    .taskContent span{
        font-size: 0.9rem;
    }

    .header{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .filter{
        flex-direction: row;
        justify-content: center;
        gap: 5px;
        flex-wrap: nowrap;
        align-items: center;
    }

    .filter button{
        font-size: 0.8rem;
        height: 35px;
        padding: 0.4em;
    }

    .taskInput input{
        width: 90%;
    }

    .logoutBtn, .addTaskBtn, .completeBtn, .editBtn, .deleteBtn, .themeBtn{
        width: 35px;
        height: 35px; 
        font-size: 0.7rem; 
        padding: 0; 
    }
}

@media (max-width: 480px) {
    .container{
        width: 80%;
        max-width: 500px;
        padding: 15px;
    }

    .card{
        width: 90%;
        max-width: 300px;
        padding: 0.5em;
    }

    .taskContent span{
        font-size: 0.85rem;
    }

    .header{
        flex-direction: row;
        justify-content: space-between;
        padding: 5px 15px;
    }

    .filter button{
        font-size: 0.7rem;
        height: 30px; 
        padding: 0.3em;
    }

    .taskInput input{
        width: 100%;
    }
    
    h1{
        font-size: 1em;
    }

    .logoutBtn, .addTaskBtn, .completeBtn, .editBtn, .deleteBtn, .themeBtn{
        width: 30px;
        height: 30px;
        font-size: 0.6rem; 
        padding: 0; 
    }
}
